!!!
%html
  %head
    %title TigerTracker
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = notice
    = link_to "Connect with Facebook", "/auth/facebook" if current_user.nil?
    = yield
